@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  overflow-y: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-color: #EBEEF5;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.text-hidden {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.table-image-size {
  width: 40px;
  height: 40px;
}
.table-detail div.cell {
  padding: 0 2px !important;
}

.table-detail-expand label {
  color: #5b6a80;
  width: 150px;
}

.table-detail-expand .el-form-item {
	margin-right: 0;
	margin-bottom: 0;
	width: 48%;
}
.table-detail-expands label {
  color: #5b6a80;
  width: 150px;
}

.table-detail-expands .el-form-item {
	margin-right: 0;
  display: flex;
  margin-bottom: 0;
}
.table-detail-expands .el-form-item__label{
  width: 160px;
}
.table-detail-expands .el-form-item__content{
  width: 100%;
}